#indice-valor-ano{width: 185px}
#indice-valor-mes{width: 185px}

.select2-close-mask{
    z-index: 2099;
}
.select2-dropdown{
    z-index: 3051;
}
.select2-dropdown-open{
    z-index: 3051;
}
.form-horizontal{z-index:1000;}